<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>软件链接</title>

</head>
<body>
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row wrapper border-bottom white-bg page-heading"  layout:fragment="header">
        <div class="col-lg-10">
            <h2>主页/软件链接/编辑信息</h2>
            <h2 id="menuTitle" style="display: none">软件链接</h2>
        </div>
    </div>

    <div class="row"  layout:fragment="content">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>信息详情</h5>
                </div>
                <div class="ibox-content">
                    <form method="post"  enctype="multipart/form-data" class="form-horizontal col-sm-8 col-sm-offset-2" >
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-9">
                                <input id="title" type="text" class="form-control" placeholder="请在此输入标题">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <span id="nameSpan" style="color: red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">资源类型</label>
                            <div class="col-sm-9">
                                <input id="duration" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <span id="durationSpan" style="color: red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">资源路径</label>
                            <div class="col-sm-9">
                                <input id="videoLink" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <span id="videoLinkSpan" style="color: red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关键字</label>
                            <div class="col-sm-9">
                                <input id="key-word" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-9">
                                <span id="key-word-span" style="color: red"></span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group text-center">
                            <button id="save" class="btn btn-w-m btn-success" onclick="saveInfo()" type="button">发表</button>
                            <a id="return" class="btn btn-w-m btn-primary"  th:href="@{/admin/online-learning-platform/page}">返回</a>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


        <script type="text/javascript" th:inline="javascript">
            function saveInfo() {
                var data = {
                    "title": $("#title").val(),
                    "author": $("#author").val(),
                    "keyWord": $("#keyword").val(),
                    "url": $("#url").val(),
                    "remarks": $("#remarks").val(),
                    "type":$("#type").val()
                };
                $.ajax({
                    url: baseUrl + '/resource-links',
                    type: 'POST',
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success: function (data) {
                        if (data && data.code == 0) {
                            swal(data.msg);
                        }else {
                            swal(data.msg);
                        }
                    }
                });
            }
        </script>
    </div>
</div>
</body>
</html>